<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.createchance.camerastreamgenerator">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>
